<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>JAC Accounts - All transactions</title>
{% include "_styles.html" %}
</head>
<body>
{% include "_sidebar.html" %}
<div class="content">
    <div class="header">
        <div class="title">All Expenses</div>
    </div>

<table class="trans-table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Category</th>
            <th>Account</th>
            <th>Amount</th>
            <th>In {{ display_currency }}</th>
        </tr>
    </thead>
    <tbody>
        {% for item in expensesitems|reverse %}
        <tr>
            <td>{{ item.date }}</td>
            <td>{{ item.category }}</td>
            <td>{{ item.account }} <span class="currency-code">{{ item.currency }}</span></td>
            <td class="amt">-{{ item.amount | money(item.currency) }}</td>
            <td class="amt">
                {% if item.currency == display_currency %}
                    -{{ item.amount | money(display_currency) }}
                {% elif rates.get(item.currency ~ '>' ~ display_currency) %}
                    -{{ (item.amount | float * rates[item.currency ~ '>' ~ display_currency]) | money(display_currency) }}
                {% else %}
                    <a href="/exchange">rate needed</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

</body>
</html>
